html,
body,
#root {
	height: 100%;
}

:root {
	--background: #F4F4F9;
	--foreground: #5B4B49;
	--primary: #23967F;
	--secondary: #EC9A29;
	--danger: #F45B69;
}

body {
	margin: 0;
	background: var(--background);
	color: var(--foreground);
}
